.root {
    height: 100vh;
  }
  
  .image {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Logo_Yandex_health.png/600px-Logo_Yandex_health.png);
    background-repeat: no-repeat;
    background-color: darkgray;
    background-size: cover;
    background-position: center;
  }
  
  .paper {
    margin: 8% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar {
    margin: 1em;
    background-color: green;
  }
  
  .form {
    width: 100%;
    margin-top: 1em;
  }
  
  body .submit {
    margin: 2em 0em 2em;
  }
  
  .copyright {
    width: 100%;
  }